<configuration>
    <appender name="default" class="ch.qos.logback.core.FileAppender">
        <file>logs/console.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{64} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="skinny" level="debug"/>
    <logger name="org.eclipse.jetty" level="warn"/>
    <logger name="org.fusesource.scalate" level="warn"/>
    <logger name="skinny.micro.contrib.ScalateSupport##anon#1.SourceMap" level="warn"/>

    <root level="debug">
        <appender-ref ref="default"/>
    </root>
</configuration>
