-@val s: skinny.Skinny
h3 #{s.i18n.get("company.edit")}
hr

-for (e <- s.errorMessages)
 p(class="alert alert-danger") #{e}

form(method="post" action={s.url(Controllers.companies.showUrl, "id" -> s.params.id)} class="form")
 =include("_form.html.jade")
