-@val s : skinny.Skinny

h3 #{s.i18n.get("company.new")}
hr

-for (e <- s.errorMessages)
 p(class="alert alert-danger") #{e}

form(method="post" action={uri("/companies")} class="form")
 =include("_form.html.jade")
