-@val body: String
-@val s: skinny.Skinny
!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    =unescape(s.csrfMetaTags)
    script(type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  body
    div.container.span12
      =unescape(body)
      hr
      a(href={uri("/")} class="btn btn-default") #{s.i18n.get("top")}
    script(type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(type="text/javascript" src={uri("/assets/js/skinny-framework.js")})

