<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>
    <conversionRule conversionWord="clr" converterClass="skinny.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="skinny.logging.logback.WhitespaceThrowableProxyConverter" />
    <appender name="default" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="warn"/>
    <logger name="org.fusesource.scalate" level="warn"/>
    <logger name="skinny.micro.contrib.ScalateSupport##anon#1.SourceMap" level="warn"/>
    <logger name="org.flywaydb" level="info"/>

    <root level="debug">
        <appender-ref ref="default"/>
    </root>
</configuration>
